@model SV20T1020390.DomainModels.Category
@{
    ViewBag.Title = "Xóa loại hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form action="~/Category/Delete/@Model.CategoryID" method="post">
            <div class="form-group">
                <label>Tên loại:</label>
                <p class="form-control-static">@Model.CategoryName</p>
            </div>

            <div class="form-group">
                <label>Mô tả:</label>
                <p class="form-control-static">@Model.Description</p>
            </div>

            <div class="form-group">
                @if (!SV20T1020390.BusinessLayers.CommonDataService.IsUsedCategory(@Model.CategoryID))
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Xác nhận xóa
                    </button>
                }
                <a href="~/Category" class="btn btn-default">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>
