@{
    ViewBag.Title = "Quản lý đơn hàng";
}

<div class="box box-primary">
    <div class="box-header text-right">
        <div class="btn-group">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                    Xử lý đơn hàng <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="~/Order/Accept/111" onclick="return confirm('Xác nhận duyệt chấp nhận đơn hàng này?')">Duyệt đơn hàng</a></li>
                    <li><a href="~/Order/Shipping/111" class="btn-modal">Chuyển giao hàng</a></li>
                    <li><a href="~/Order/Finish/111" onclick="return confirm('Xác nhận đơn hàng đã hoàn tất thành công?')">Xác nhận hoàn tất đơn hàng</a></li>
                    <li class="divider"></li>
                    <li><a href="~/Order/Cancel/111" onclick="return confirm('Xác nhận hủy đơn hàng này?')">Hủy đơn hàng</a></li>
                    <li><a href="~/Order/Reject/111" onclick="return confirm('Xác nhận từ chối đơn hàng này?')">Từ chối đơn hàng</a></li>
                </ul>
            </div>
            <a href="~/Order/Delete/123" class="btn btn-sm btn-danger" onclick="return confirm('Có chắc chắn muốn xóa đơn hàng này không?')"><i class="fa fa-trash"></i> Xóa đơn hàng</a>
            <a href="~/Order" class="btn btn-sm btn-info">Quay lại</a>
        </div>
    </div>
    <div class="box-body form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Mã đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">1001</p>
            </div>
            <label class="control-label col-sm-2">Ngày lập đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">20/12/2022 15:00</p>
            </div>
            <label class="control-label col-sm-2">Nhân viên phụ trách:</label>
            <div class="col-sm-4">
                <p class="form-control-static">Trần Nguyên Phong</p>
            </div>
            <label class="control-label col-sm-2">Ngày nhận đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">20/1/2022 17:00</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Khách hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">Trần Lê Thanh Hoàng</p>
            </div>
            <label class="control-label col-sm-2">Tên giao dịch:</label>
            <div class="col-sm-4">
                <p class="form-control-static">Ông Hoàng</p>
            </div>
            <label class="control-label col-sm-2">Địa chỉ:</label>
            <div class="col-sm-10">
                <p class="form-control-static">77 Nguyễn Huệ, thành phố Huế</p>
            </div>
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-4">
                <p class="form-control-static">hoang.lethanh@gmail.com</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Địa chỉ giao hàng:</label>
            <div class="col-sm-10">
                <p class="form-control-static">77 Nguyễn Huệ, thành phố Huế</p>
            </div>
            <label class="control-label col-sm-2">Tỉnh/thành:</label>
            <div class="col-sm-10">
                <p class="form-control-static">Thừa Thiên Huế</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Người giao hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">Vũ Hoàng Tuấn Minh</p>
            </div>
            <label class="control-label col-sm-2">Điện thoại:</label>
            <div class="col-sm-4">
                <p class="form-control-static">0985666721</p>
            </div>
            <label class="control-label col-sm-2">Nhận giao hàng lúc:</label>
            <div class="col-sm-4">
                <p class="form-control-static">22/12/2022 11:30</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Trạng thái đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control-static">Đã hoàn tất</p>
            </div>
            <label class="control-label col-sm-2">Thời điểm hoàn tất:</label>
            <div class="col-sm-4">
                <p class="form-control-static">22/12/2022 17:00</p>
            </div>
        </div>
    </div>

    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <caption><h4>Danh sách mặt hàng thuộc đơn hàng</h4></caption>
                <thead>
                    <tr class="bg-primary">
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên hàng</th>
                        <th class="text-center">ĐVT</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Thành tiền</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <tr>
                            <td class="text-center">@i</td>
                            <td>Samsung Series 9 NP900X4C Premium Ultrabook</td>
                            <td class="text-center">Cái</td>
                            <td class="text-center">2</td>
                            <td class="text-right">18,700,000</td>
                            <td class="text-right">37,400,000</td>
                            <td class="text-right">
                                <a href="~/Order/EditDetail/111?productId=222" class="btn btn-xs btn-primary btn-modal">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Order/DeleteDetail/111?productId=222" class="btn btn-xs btn-danger" onclick="return confirm('Xóa mặt hàng này khỏi đơn hàng?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Tổng cộng:</th>
                        <th class="text-right">187,000,000</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="dialogModal" class="modal fade" role="dialog">
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".btn-modal").click(function (e) {
                e.preventDefault();
                var link = $(this).prop("href");
                $.ajax({
                    url: link,
                    type: "GET",
                    error: function () {
                        alert("Your request is not valid!");
                    },
                    success: function (data) {
                        $("#dialogModal").empty();
                        $("#dialogModal").html(data);
                        $("#dialogModal").modal();
                    }
                });
            });
        })
    </script>
}
