@model SV20T1020390.web.Models.OrderDetailModel
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <form id="formShipping" action="~/Order/Shipping/@ViewBag.OrderID" method="post">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chuyển giao hàng cho đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Người giao hàng:</label>
                    @* <select class="form-control" name="shipperID">
                        <option value="0">-- Chọn người giao hàng ---</option>
                        <option value="1">Giao hàng Tiết kiệm</option>
                        <option value="2">Tín Thành</option>
                        <option value="3">Viettel Express</option>
                    </select> *@
                    @Html.DropDownListFor(m => m.ShipperID, SelectListHelper.Shippers(), new { @class = "form-control" })

                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-sm-9">
                        <span id="message" style="color: #f00"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Bỏ qua
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#formShipping').submit(function (e) {
            e.preventDefault();
            var url = $(this).prop("action");
            var method = $(this).prop("method");
            var postData = $(this).serializeArray();

            $.ajax({
                url: url,
                type: method,
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    if (data !== "") {
                        $("#message").html(data);
                    }
                    else {
                        location.reload();
                    }
                }
            });
            return;
        });
    });
</script>
