<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li><a href="~/"><i class="fa fa-dashboard"></i> <span>Trang chủ</span></a></li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lý dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Supplier"><i class="fa fa-circle-o"></i>Nhà cung cấp</a></li>
                    <li><a href="~/Customer"><i class="fa fa-circle-o"></i>Khách hàng</a></li>
                    <li><a href="~/Shipper"><i class="fa fa-circle-o"></i>Người giao hàng</a></li>
                    <li><a href="~/Employee"><i class="fa fa-circle-o"></i>Nhân viên</a></li>
                    <li><a href="~/Category"><i class="fa fa-circle-o"></i>Loại hàng</a></li>
                    <li><a href="~/Product"><i class="fa fa-circle-o"></i>Mặt hàng</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lý bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Order"><i class="fa fa-circle-o"></i> Danh sách đơn hàng</a></li>
                    <li><a href="~/Order/Create"><i class="fa fa-circle-o"></i> Lập đơn hàng</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>