@{
    var userData = User.GetUserData();
}


<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Đổi mật khẩu</b></a>
        </div>

        <div class="login-box-body">

            <form action="~/Account/ChangePassword" method="post">
                <div class="form-group has-feedback">
                    <span class="glyphicon form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="hidden" class="form-control" name="userName" value="@userData.UserName">
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu cũ"
                           name="oldPassword">
                    <span class="glyphicon form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu mới"
                           name="newPassword">
                    <span class="glyphicon form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới"
                           name="confirmPassword">
                    <span class="glyphicon form-control-feedback"></span>
                </div>
                <div class="row">

                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Xác nhận</button>
                    </div>
                    <div class="col-xs-4">
                        <a href="~/Home/Index" class="btn btn-default btn-block btn-flat">Quay lại</a>
                    </div>
                </div>

                <div class="form-group mt-3">
                    @Html.ValidationMessage("Error", new { @class = "text-danger" })
                </div>
            </form>

        </div>

    </div>
</body>

<script type="text/javascript">
    document.title = 'Đổi mật khẩu';
</script>
